<div class="container">
  <div class="homepage">
    <h1><%= image_tag "potatobig.png" %> Rotten_<span style="color:red;">Potatoes</span> </h1>
    <div class="row homepage-content">
      <div class="col-sm-2">
        <h4>By Genre</h4>
        <% @genres.each do |genre| %>
          <%= link_to genre.name, genre_path(:id => genre.id) %><br>
        <% end %>
      </div>
      <div class="col-sm-5">
        <h4>In theaters now</h4>
        <% @in_theaters.each do |movie| %>
          <%= link_to movie.title, movie_path(:id => movie.id) %> |
          <%= image_tag "potato.png" %><span class="spud_score"><% if convert_to_ours(movie)%><%=convert_to_ours(movie).average_spud_score.round(2)%><%end%></span> | Release: <%= movie.release_date.to_date %><br>
        <% end %>
      </div>
      <div class="col-sm-5">
        <h4>Coming Soon</h4>
        <% @coming_soon.each do |movie| %>
        <%= link_to movie.title, movie_path(:id => movie.id) %> | <%= image_tag "potato.png" %><span class="spud_score"><% if convert_to_ours(movie)%><%=convert_to_ours(movie).average_spud_score.round(2)%><%end%></span> | Release: <%= movie.release_date.to_date %><br>
        <% end %>
      </div>
    </div>
</div>
