<div class="row">
  <div class="col-sm-6">
    <div class="movie-details">
      <h1><%= @movie.title %></h1>
      <% if @movie.tagline %>
        <h5 style="font-style: italic;"><%= @movie.tagline + "..."%></h5>
      <% end %>
      <p>Released: <%= @movie.release_date %></p>
      <p><%= @movie.runtime %> mins
      <p class="description"><%= @movie.overview %></p>
    </div>

    <div class="critic-reviews">
      <h3>Trusted Critic Reviews</h3>
      <% @reviews.each do |review| %>
        <% if review.user.critic %>
          <%= review.description %>
        <% end %>
      <% end %>
    </div>
  </div>



  <div class="col-sm-6">
    <div>
      This is where our pic/trailer will go
    </div>

    <div>
      This is where our SPUD-O-METER will go
    </div>

    <div>
      <h3>User Reviews</h3>
      <% @reviews.each do |review| %>
        <% if review.user.critic == false %>
          <%= review.description %>
        <% end %>
        <%= review.description %>
      <% end %>
    </div>
  </div>
</div>
