<div class="row">
  <div class="col-sm-6">
    <div class="movie-details">
      <h1><%= @movie.title %></h1>
      <% if !@movie.tagline.empty? %>
        <h5 style="font-style: italic;"><%= @movie.tagline + "..."%></h5>
      <% end %>
      <p><% @movie_genre_names.each do |genre| %>
          <%= link_to genre.name, genre_path(:id => genre.id) %> |
        <% end %></p>
      <p>Released: <%= @movie.release_date %></p>
      <p><%= @movie.runtime %> mins</p>
      <p class="description"><%= @movie.overview %></p>
      <%= image_tag "potatobig.png" %><strong>Spud Score: </strong><%=@spud_score%> || <strong> Total Reviews: </strong><%=@reviews.count%>
      <% if current_user %>
  <% if flash[:notice] %>
    <p style="color:red;"><%= flash[:notice] %></p>
  <% end %>
  <div class="new-review-form ">
    <%= form_with scope: :review, url: reviews_path, local: true do |form| %>

    <p>
      <%= form.hidden_field :movie_id, :value => @movie.id %>
    </p>

    <p>
      <%= form.label :Review %><br>
      <%= form.text_area :description %>
    </p>

    <p>
      <%= form.label :Rating %><br>
      <%= radio_button_tag(:spud_score, 1) %>
      <%= label_tag(:spud_score, "1") %><span></span>
      <%= radio_button_tag(:spud_score, 1.5) %>
      <%= label_tag(:spud_score, "1.5") %>
      <%= radio_button_tag(:spud_score, 2) %>
      <%= label_tag(:spud_score, "2") %>
      <%= radio_button_tag(:spud_score, 2.5) %>
      <%= label_tag(:spud_score, "2.5") %>
      <%= radio_button_tag(:spud_score, 3) %>
      <%= label_tag(:spud_score, "3") %>
      <%= radio_button_tag(:spud_score, 3.5) %>
      <%= label_tag(:spud_score, "3.5") %>
      <%= radio_button_tag(:spud_score, 4) %>
      <%= label_tag(:spud_score, "4") %>
      <%= radio_button_tag(:spud_score, 4.5) %>
      <%= label_tag(:spud_score, "4.5") %>
      <%= radio_button_tag(:spud_score, 5) %>
      <%= label_tag(:spud_score, "5") %>
    </p>

    <p>
      <%= form.submit 'Submit Review' %>
    </p>
    <% end %>
  </div>

<% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
    <img src=<%=@image_url%> alt="Movie Poster">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="critic-reviews">
      <h3>Trusted Critic Reviews</h3>
      <% @reviews.each do |review| %>
        <% if review.user.critic %>
          <%= review.description %><br>
          <strong>Spud Score:</strong> <%= review.spud_score %><br>
          <strong><%= review.user.username %></strong><br>
          <%= review.created_at %><br><br>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <h3>User Reviews</h3>
      <% @reviews.each do |review| %>
        <% if review.user.critic.nil? || review.user.critic == false %>
          <%= review.description %><br>
          <strong>Spud Score:</strong> <%= review.spud_score %><br>
          <strong><%= review.user.username %></strong><br>
          <%= review.created_at %><br><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
