<div class="user-container" id="profile">

  <h2><%= @user.name %>'s Profile</h2>
    <p>Reviews:</p>
    <% @user.reviews.each do |review| %>
      <p><i><%= review.description %></i></p><p><b>Rated: <%= review.spud_score.to_f %></b> | <%= link_to Tmdb::Movie.detail(review.movie.api_id).title, movie_path(review.movie.api_id) %></p><br><br>
    <% end %>

  <br><br>
  <%= link_to 'Edit Profile', edit_user_path(@user) %> | <%= link_to 'Delete Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
